{% load static %}

<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<link rel="stylesheet" href="{% static 'css/login/login.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<body>
    
<a href="{% url 'home' %}" id="voltar">Home</a>

<h1 id="logoDbBlue"><img src="{% static 'img\DB-BLUE.svg'%}" ></h1>

<div class="containerForm">

    <h2 id="welcome">Welcome</h2>

<input class="campoInput" id="email" type="text" placeholder="Email">

<input class="campoInput" id="pass" type="password" placeholder="Senha">

<input id="login" class="botao" type="button" value="Login">

</div>

<input id="signup" class="botao" type="button" value="SignUp">



</body>
</html>